version: '3.8'
services:
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.7.0
        container_name: elasticsearch
        environment:
            - xpack.security.enabled=false
            - discovery.type=single-node
        ports:
            - 9200:9200
        networks:
            - elk
    
    logstash:
        image: docker.elastic.co/logstash/logstash:8.7.0
        container_name: logstash
        volumes:
            - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
            - ./dataset.csv:/usr/share/logstash/data/dataset.csv
        ports:
            - 5000:5000
        depends_on:
            - elasticsearch
        networks:
            - elk
    
    kibana:
        image: docker.elastic.co/kibana/kibana:8.7.0
        container_name: kibana
        ports:
            - 5601:5601
        depends_on:
            - elasticsearch
        networks:
            - elk
    
networks:
    elk:
        driver: bridge